.homeSlider {
    padding: 60px 0;
    .content{
        h1{
            margin-top: 34px;
        }
        p {
            margin-top: 16px;
        }
        button {
            margin-top: 55px;
        }
    }
}