.homeSlider {
    padding: 60px 0;
    .content{
        h1{
            margin-top: 34px;
            color: #903D10;
            font-family: Roboto;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        p {
            margin-top: 16px;
            color: rgba(0, 0, 0, 0.70);
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        button {
            margin-top: 55px;
        }
    }
}