.productsContainer {
    padding: 75px 0;
    .content{
        h2{
            margin-bottom: 5px;
        }
        .products {
            margin-top: 55px;
            padding: 30px;
            .product {
                min-width: 230px;
                margin-right: 55px;
            }
        }
    }
}