.productsContainer {
    padding: 75px 0;
    .content{
        h2{
            color: #222;
            font-family: Roboto;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 5px;
        }
        h3 {
            color: rgba(0, 0, 0, 0.70);
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .products {
            margin-top: 55px;
            padding: 30px;
            .product {
                min-width: 230px;
                margin-right: 55px;
            }
        }
    }
}