.productsContainer {
    padding: 75px 0;
    &.slick_layout{
        .products {
            .product {
                min-width: 230px;
                margin-right: 55px;
            }
        }
    }
    .content{
        h2{
            margin-bottom: 5px;
        }
        .products {
            padding: 20px 0;
        }
    }
}