@import url("./reset.scss");
@import url("./flexbox-utils.scss");

.text-center{
    text-align: center;
}
ul {
    padding-left: unset;
}

.section {
    padding: 75px 0;
    .header {
        .content {

        }
    }
}